
footer {
    width: 100%;
    height: auto;
    background-color: VAR(--bg-site);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h2 {
    font-family: 'Merriweather' serif;
    font-weight: 400;
    font-size: 32px;
    margin: 0 0 60px 0;
}
#nome, #e-mail, #tel {
    padding: 10px;
    min-width: 470px;
    height: 65px;
    outline: none;
    border: none;
    border-radius: 6px;
    margin: 0 0 15px 0;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--text, 74%);
    
}
#msg {
    padding: 10px;
    width: 470px;
    height: 165px;
    outline: none;
    border: none;
    border-radius: 6px;
    margin: 0 0 15px 0;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--text, 74%);

    /* 
     * Pode tentar limpar automaticamente essa
     * area após recarrecar a página usando JavaScript
    */
}

.botao {

    padding: 10px;
    min-width: 470px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 6px;
    margin: 15px 0 0 0;

    background-color: var(--button-color);

    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--white);

    cursor: pointer;

}

input[type="text"] {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

