.main-cards {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.color-red {
    height: 222px;
    width: 340px;
    background-color: red;
}
.color-green {
    height: 222px;
    width: 340px;
    background-color: green;
}