
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.box {
    margin: 0 0 50px 50px;
}

.color-red {
    background-color: #FF0000;
    width: 250px;
    height: 250px;
}
.color-green {
    background-color: #008000;
    width: 250px;
    height: 250px;
}
.color-yellow {
    background-color: #FFFF00;
    width: 250px;
    height: 250px;
}
.color-blue {
    background-color: #0000FF;
    height: 250px;
    width: 250px;
}
.color-orange {
    background-color: #FFA500;
    height: 250px;
    width: 250px;
}
.color-purple {
    background-color: #800080;
    height: 250px;
    width: 250px;
}
.color-black {
    background-color: #000;
    height: 250px;
    width: 250px;
}
.color-white {
    background-color: #fff;
    border: 0.5px solid #d4d4d4;
    height: 250px;
    width: 250px;
}

.descript {
    width: 250px;
    margin: 30px 0 0 0;
}

.descript h2 {
    color: var(--title);
    font-family: var(--font-title);
}

.descript p {
    margin: 10px 0 0 0;
    color: var(--text-descript);
    font-family: var(--font-text);
    font-size: 1em;
}

@media (max-width:1035px) {
    .cards {
        margin: 0 100px 0 0;
    }
}